* {
	box-sizing: border-box;
}

body {
	background-color: skyblue;
	color: #ffffff;
	margin: 0;
	text-align: center;
}

/*Sidebar*/
.sidebar {
	margin: 0;
	padding: 0;
	width: 200px;
	height: 100%;
	background-color: #f1f1f1;
	text-align: center;
	position: fixed;
	overflow: auto;
}

.sidebar a {
	display: block;
	color: black;
	text-align: center;
	padding: 18px 24px;
	text-decoration: none;
}

.sidebar a:hover {
	background-color: skyblue;
	color: #a5714b;
	font-size: 28px;
}

.sidebar .icon {
	display: none;
}

.small-pic {
	margin-bottom: -5px;
}

/*Main Content*/
#main {
	margin-left: 200px;
	padding: 12px 24px;
}

#home {
	text-align: center;
	padding: 32px 0;
}

h2 {
	color: #a5714b;
}

.dog-img1 {
	float: left;
	width: 50%;
}

.dog-description1 {
	float: left;
	width: 50%;
	text-align: justify;
	padding-left: 15px;
}

.dog-img2 {
	float: right;
	width: 50%;
}

.dog-description2 {
	float: right;
	width: 50%;
	text-align: justify;
	padding-right: 15px;
	padding-top: 10px;
}

.clear {
	clear: both;
	display: block;
}

/*Footer*/
footer {
	font-size: 15px;
	color: #a5714b;
	text-align: center;
	padding: 32px 0;
}

footer a {
	text-decoration: none;
	color: #845730;
	font-weight: bold;
}

footer a:hover {
	font-size: 18px;
}

/*Media Queries*/
@media screen and (max-width: 865px) {
	.dog-description1 {
		width: 100%;
		text-align: left;
	}
	.dog-description2 {
		width: 100%;
		text-align: left;
	}
}

@media screen and (max-width: 700px) {
	body {
		background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://i.postimg.cc/yN0hk1JH/paws-Nbones.png");
	}
	p {
		text-align: justify;
		line-height: 2;
		padding: 0 10px;
	}
	h2 {
		text-align: center;
	}
	.sidebar {
		width: 100%;
		height: auto;
		background-color: transparent;
		position: relative;
	}
	.sidebar a {
		float: left;
		color: #f1f1f1;
		font-size: 10px;
	}
	.sidebar a:hover {
		background-color: #f1f1f1;
		color: #222;
		font-size: 16px;
	}
	.small-pic {
		display: none;
	}
	#main {
		margin-left: 0;
	}
	footer p {
		text-align: center;
	}
}

/*@media only screen and (max-width: 600px) {
	#main {
		margin-left: 0;
	}
}*/

@media screen and (max-width: 500px) {
	.sidebar a {
		text-align: center;
		float: none;
		font-size: 12px;
		padding: 8px 12px;
	}
	p {
		text-align: justify;
		line-height: 2;
		padding: 0 10px;
	}
	footer p {
		text-align: center;
	}
}