* {
	box-sizing: border-box;
}

body {
	background-color: black;
	color: grey;
	margin: 0;
}

/*Sidebar*/
#sidebar {
	margin: 0;
	padding: 0;
	width: 200px;
	height: 100%;
	background-color: #f1f1f1;
	text-align: center;
	position: fixed;
	overflow: auto;
}

#sidebar a {
	display: block;
	color: #222;
	padding: 18px 24px;
	text-decoration: none;
}

#sidebar a:hover {
	background-color: black;
	color: lightgrey;
	font-size: 28px;
}

.small-pic {
	margin-bottom: -5px;
}

/*Main Content*/
#main {
	margin-left: 200px;
	padding: 12px 24px;
}

#home {
	text-align: center;
	padding: 32px 0;
}

/*Footer*/
footer {
	font-size: 15px;
	color: grey;
	text-align: center;
	padding: 32px 0;
}

footer a {
	text-decoration: none;
	color: lightgrey;
}

footer a:hover {
	font-size: 18px;
}

/*Media Queries*/
@media screen and (max-width: 700px) {
	#sidebar {
		width: 100%;
		height: auto;
		background-color: transparent;
		position: relative;
	}
	#sidebar a {
		float: left;
		color: #f1f1f1;
		font-size: 10px;
	}
	#sidebar a:hover {
		background-color: #f1f1f1;
		color: #222;
	}
	.small-pic {
		display: none;
	}
	#main {
		margin-left: 0;
	}
}

@media screen and (max-width: 400px) {
	#sidebar a {
		text-align: center;
		float: none;
		color: grey;
	}
}

@media only screen and (max-width: 600px) {
	#main {
		margin-left: 0;
	}
}